# =========================
# Unity generated folders
# =========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =========================
# MemoryCaptures
# =========================

MemoryCaptures/

# =========================
# Asset meta data should be visible
# =========================

!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta
!/[Pp]rojectSettings/**/*.meta

# =========================
# Visual Studio / Rider
# =========================

.vs/
.gradle/
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# =========================
# OS generated
# =========================

.DS_Store
Thumbs.db

# =========================
# Crash Reports
# =========================

sysinfo.txt

# =========================
# Addressables
# =========================

Assets/AddressableAssetsData/*/*.bin*